/* custom fonts */

@font-face {
  font-family: "Tangerine";

  src: url('./fonts/Tangerine-Regular.woff2') format('woff2'),
       url('./fonts/Tangerine-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tangerine";

  src: url('./fonts/Tangerine-Bold.woff2') format('woff2'),
       url('./fonts/Tangerine-Bold.ttf') format('truetype');

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PoiretOne-Regular";

  src: url('./fonts/PoiretOne-Regular.woff2') format('woff2'),
       url('./fonts/PoiretOne-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Schoolbell-Regular";

  src: url('./fonts/Schoolbell-Regular.woff2') format('woff2'),
       url('./fonts/Schoolbell-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

/* styling */

body {
    font-family: "PoiretOne-Regular", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(hsla(330, 100%, 96%, 80%), hsla(330, 100%, 96%, 80%)), 
                url('assets/neighborhood_bg.webp') center center / cover no-repeat;
    font-size: medium;
}

header {
    font-family: "Tangerine", sans-serif;
    color: rgb(209, 69, 135);
    background-color: hsla(330, 100%, 96%, 100%);
    padding: 1rem;
    font-size: x-large;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(136, 93, 108, 0.2);
}

main {
    padding: 2rem;
}

#unityContainer {
    width: 55%;
    height: 0;
    padding-bottom: 33%;
    margin: 0 auto 2rem auto;
    background-color: #000; /* placeholder before WebGL build */
}

#description h4 {
    margin-top: 0.5rem; /* add space above and below subtitle */
    margin-bottom: 1.5rem;
    color: hsl(0, 0%, 40%); 
    font-style: italic;
}

/* reset <h2> spacing so subtitle is closer to it */
#description h2 {
    margin-bottom: 0.5rem;
}

#description {
    width: 55%;
    font-family: "PoiretOne-Regular", sans-serif;
    background-color: hsl(329, 0%, 100%);
    padding: 2rem;
    text-align: left;
    margin: 0 auto;
    letter-spacing: 0.1rem;
    box-shadow: 0px 4px 6px rgba(136, 93, 108, 0.2);
}

/*
#game {
    /* Sets the frame width, style, and color
    border: 5px solid #ffff; 
    display: inline-block; 
}
*/